/*Selector universal*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0px;
    padding: 0px;
}
/*Selector por etiquetas*/
header{
    background: rgb(3, 3, 78);
    text-align: center;
    color: white;
    padding: 10px;
}
footer{
    background: rgb(3, 3, 78);
    text-align: center;
    color: white;
    padding: 10px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 50px;
}
a{
    font-size: 18px;
    color: tomato;
    text-decoration: none;
}
footer a {
    color: azure;
}
/*Selector por ID*/
#contenido{
    border: 2px solid #fdcc00;
    padding: 10px;
}
#contenido table{
    margin: auto;
}
#principal {
    margin-left: 20%;
}
#descripcion{
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    margin: 10px;
}
#menu {
    background-color: #eee;
}
#menu ul li {
    display: block;
    float: left;
    border-right: #ccc 1px solid;
}
#menu ul li a {
    display: block;
    padding: 15px;
    color: #444;
}
#menu ul li:hover {
    background: rgb(16,75,143);
    cursor: pointer;
}
#menu ul li:hover a{
    color: white;
}
/*Selector por clase*/
.clearFix {
    float: none;
    clear: both;
}
.subTitulo{
    text-align: center;
    color: cornflowerblue;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Selector por atributo*/
#contenido form{
    border: 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}
#contenido form *{
    display: inline-block;
}
input[type="text"], select{
    margin-bottom: 15px;
    padding: 10px;
    width: 300px;
}
select{
    width: 350px;
}
input[type="submit"],button{
    background: brown;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid black;
    cursor: pointer;
}